@model Lokad.Cloud.Console.WebRole.Models.Logs.LogsModel
@{ ViewBag.Title = "Lokad.Cloud Administration Console - Logs"; }

@section Header {
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" type="text/javascript"></script>
	<link href="@Url.Content("~/Content/ui.slider.extras.css")" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/Scripts/selectToUISlider.jQuery.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/knockout-1.1.2.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/knockout.mapping.js")" type="text/javascript"></script>
}

<h1>Logs</h1>
<p>Use the slider below to choose the threshold level for filtering out less important log entries.</p>

<fieldset>
	<select name="loglevel" id="loglevel">
		<option value="Debug">Debug</option>
		<option value="Info" selected="selected">Info</option>
		<option value="Warn">Warning</option>
		<option value="Error">Error</option>
		<option value="Fatal">Fatal</option>
	</select>
</fieldset>

<table class="table" id="datatable" data-bind="visible: Entries().length > 0">
	<thead>
		<tr>
			<th>Date</th>
			<th></th>
			<th>Message</th>
		</tr>
	</thead>
	<tbody data-bind='template: {name: "logEntryTemplate", foreach: Entries}'></tbody>
</table>

<br />

<p data-bind="visible: Entries().length == 0">No log entries satisfy the chosen log level threshold. Use the level selector above to choose a different level.</p>
<p id="loadMoreButton" data-bind="visible: MoreAvailable"><a href="#">Load More</a></p>

<script type="text/html" id="logEntryTemplate">
	<tr>
		<td>${Time}</td>
		<td><span class="icon-LogLevels icon-LogLevels-${Level}"></span></td>
		<td>
			${Message}<br />
			<div data-bind="visible: Error">
			<b>Exception Details and Stack:</b> (<a href="#" data-bind="click: function() { toggleShowDetails($data) }">Show/Hide</a>)<br />
			<pre data-bind="visible: ShowDetails">${Error}</pre>
			</div>
		</td>
	</tr>
</script>

<script type="text/javascript">

	var viewModel = ko.mapping.fromJSON(@Html.Enquote(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model)));

	toggleShowDetails = function(entry) {
		entry.ShowDetails(!entry.ShowDetails());
	};

	$(document).ready(function() {

		ko.applyBindings(viewModel);

		$('select#loglevel').selectToUISlider({ labels: 5, sliderOptions: { change:function() {
			$('#AjaxLoading').show();
			$.ajax({
				url: '@ViewBag.TenantPath/EntriesAfter',
				dataType: 'json',
				data: { skip: 0, threshold: $('select#loglevel').val() },
				cache: false,
				success: function (data) {
					ko.mapping.updateFromJS(viewModel, data);
					$('#AjaxLoading').hide();
				}
			});
		}}}).hide();

		$('#loadMoreButton > a').click(function() {
			$('#AjaxLoading').show();
			$.ajax({
				url: '@ViewBag.TenantPath/EntriesAfter',
				dataType: 'json',
				data: { skip: viewModel.Entries().length, oldestToken: viewModel.OldestToken(), threshold: $('select#loglevel').val() },
				cache: false,
				success: function (data) {
					var model = ko.mapping.fromJS(data);
					$.each(model.Entries(), function (index, entry) { viewModel.Entries.push(entry); });
					viewModel.OldestToken(model.OldestToken());
					viewModel.MoreAvailable(model.MoreAvailable());
					$('#AjaxLoading').hide();
				}
			});
			return false;
		});
	});
</script>

