@using Lokad.Cloud.Console.WebRole.Models.Shared
<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<link href="@Url.Content("~/Content/Lokad.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/jquery-ui-1.7.1.custom.css")" rel="stylesheet" type="text/css" />
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.4.4.min.js" type="text/javascript"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.7/jquery-ui.min.js" type="text/javascript"></script>
	@RenderSection("Header", required: false)
</head>

<body>
	<div class="page">

		<div id="HeaderDiv">

			<div id="AuthBar">
				@Html.Partial("AuthBarPartial")
			</div>

			<div id="TopBarBackground"></div>
			<div id="TopBar">
				<div id="Logo"><h1><a href="http://www.lokad.com/"><span class="hidden">Lokad.com</span></a></h1></div>
				<div id="TopControls"></div>
			</div>

			<div id="TitleBar"><h2>Lokad.Cloud - Administration Console</h2></div>
			
			@if (ViewBag.Navigation.ShowDeploymentSelector) {
				<div id="SubNavBar">
					@Html.Partial("DeploymentMenuPartial", (NavigationModel)ViewBag.Navigation)
				</div>
			}

			<div id="NavBar">
				@Html.Partial("NavigationMenuPartial", (NavigationModel)ViewBag.Navigation)
			</div>

		</div>

		<div id="ContentWrapper">
			
			<div id="ContainerDiv">
				<div id="SidebarDiv">
					<div id="SidebarHeaderDiv"></div>
					<div id="SidebarContentDiv"></div>
					<div id="SidebarFooterDiv"></div>
				</div>
				<div id="MainDiv">
					<div id="MainHeaderDiv"></div>
					<div id="Text">
						@RenderBody()
					</div>
					<div id="MainFooterDiv"></div>
				</div>
			</div>
			<div id="FooterDiv">
			</div>
		</div>

		<div id="FooterWrapper">
			<div id="Footer">
				<div class="left">
					<b>Lokad.Cloud</b>
					<ul>
					<li class="first"><a href="http://code.google.com/p/lokad-cloud/" class="pagelink">Project homepage</a><br /> 
						<a href="http://code.google.com/p/lokad-cloud/issues/list" class="pagelink">Report an issue</a>
					</li>
					</ul>
				</div>
				<div class="right">
					<a href="http://www.lokad.com/AboutUs.ashx" class="pagelink" title="About Us">About Us</a> | 
					<a href="http://www.lokad.com/ContactUs.ashx" class="pagelink" title="Contact Us">Contact Us</a> | 
					&copy; 2010 Lokad<br />
					<img id="AjaxLoading" src="/Content/Images/loading.gif" style="display: none;" /><br />
					@if (IsSectionDefined("Timestamp")) {
						@RenderSection("Timestamp")
					}
					else if (ViewBag.Discovery.ShowLastDiscoveryUpdate) {
						@: Data shown is not older than @ViewBag.Discovery.LastDiscoveryUpdate
					}
				</div>
			</div>
			<br />
		</div>

	</div>
</body>
</html>
